<h5>
    Criar/Editar Aluno
</h5>

<div class="mb-3">
    <div class="row">
        <label for="formGroupExampleInput" class="form-label" for="disable">#</label>
        <input disabled [(ngModel)]="aluno.id" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
</div>
<div class="mb-3">
    <div class="row">
        <label for="formGroupExampleInput2" class="form-label">Nome</label>
        <input disabled [(ngModel)]="aluno.nome" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" (input)="onInput">
    </div>
</div>
<div class="mb-3">
    <div class="row">    
        <label for="formGroupExampleInput3" class="form-label">Email</label>
        <input disabled [(ngModel)]="aluno.email" type="text" class="form-control" id="formGroupExampleInput3" placeholder="Another input placeholder">
    </div>
</div>